/* Om mig section */

  .om-mig-spcWord {
    font-weight: 600;
    color: #EAB308;
  }

  .omMigText {
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    opacity: 0.8;
  }

  .dot-word {
    color: #f5f3e7;
  }